body {
	/* Background pattern from subtlepatterns.com */
	background-image: url(../images/symphony.png);
}
header {
	clear: both;
	height: 90px;
	width: 100%;
	background-color: white;
	margin-bottom: 40px;
}
h1 {
	color: white;
	background-color: #4aaaa5;
	width: 15%;
	height: 90px;
	float: left;
	font-size: 2em;
	line-height: 2.5em;
	text-align: center;
	margin-left: 150px;
}
h2 {
	color: #4aaaa5;
}
ul{
	margin-left: 500px;
	height: 90px;
	width: 15%;
	float: left;
	line-height: 4.5em;
}
li {
	color: #777777;
	display: inline;
}
#profilepic {
 	width: 200px;
 	height: 150px;
}
#about_me {
	height: 450px;
	width: 650px;
	margin-left: 150px;
	background-color: white;
	float: left;
}
.icon {
	height: 60px;
	width: 60px;
}
.connect {
	width: 270px;
	height:200px;
	background-color: white;
	float: left;
	margin-left: 45px;
}
.projectimg {
	height: 130px;
	width: 175px;
}
